<div class="with-iconav">
  <!-- Navitems -->
  <nav class="iconav">
    <a class="iconav-brand" href="/" style="color: rgb(27, 201, 142);">
      <span class="icon icon-leaf iconav-brand-icon"></span>
    </a>
    <div class="iconav-slider">
      <ul class="nav nav-pills iconav-nav">
        <li ng-repeat="navItem in navItems" ng-class="isActive ===  navItem.title ? 'active':''">
          <a href="#/" ng-click="fnRedirectTo(navItem.title)" title="{{navItem.title}}" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon {{navItem.iconClass}}"></span>
            <small class="iconav-nav-label visible-xs-block">{{navItem.name}}</small>
          </a>
        </li>
        <li>
          <a href="#/" title="Signed in as mdo" data-toggle="tooltip" data-placement="right" data-container="body">
            <img src="assets/images/yeoman.png" alt="" class="img-circle img-responsive">
            <small class="iconav-nav-label visible-xs-block">@mdo</small>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div ng-include="'app/main/dashboard.html'"></div>
</div>
